
<article class="excerpt-minic excerpt-minic-index">
    <h2>
        <span class="red">【今日推荐】</span>
        <a href="" title="">从下载看我们该如何做事</a>
    </h2>
    <p class="note">一次我下载几部电影，发现如果同时下载多部要等上几个小时，然后我把最想看的做个先后排序，去设置同时只能下载一部，结果是不到一杯茶功夫我就能看到最想看的电影。 这就像我们一段时间内想干成很多事情，是同时干还是有选择有顺序的干，结果很不一样。同时...</p>
</article>