<footer class="footer">
    <div class="container">
        <p>&copy; 2018 - <a href="http://277366155.cn">MsgHelper&nbsp;信息助手</a></p>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>